$primary_color: black;
$secondary_color: white;

#canvas {
	position: fixed;
	transform: translate(-50%, -50%);
	left: 50vw;
	top: 50vh;
	display: none;
	border-radius: 1vmin;
	border-color: $secondary_color;
	border-style: solid;
}

#start {
	color: $secondary_color;
	background-color: $primary_color;
	border-color: $secondary_color;
	position: fixed;
	z-index: 5;
	transform: translate(-50%, -50%);
	left: 50vw;
	top: 50vh;
	width: 10vw;
	height: 10vh;
}

body {
	background-color: $primary_color;
}
